.postForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    form{
        background-color: aqua;
        border: 1px solid blue;
        padding: 25px;
        margin: 10px 5px;
    }
}